@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
.link-container {
    text-align: center;
}
.lottie {
    margin: 0, auto;
    text-align: center;
    align-items: center;
    height: 65vh;
    width: auto;
}

.container-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 43px;
  }
  

  .four-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color: #1A2E35;
    border-radius: 21px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px rgba(26, 46, 53, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(26, 46, 53, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(26, 46, 53, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(26, 46, 53, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(26, 46, 53, 0.5);
  }
    .four-btn:hover {
    background-color:#000000 ;

  }
    .four-btn:active {
    background-color:#1A2E35 !important ;

  }