@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary_color: #1A2E35;
$text-color: #FFFFFF;

.Footer {
  background-color: $primary_color;
  color: $text-color;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding: 10px 50px;
  font-family: 'Poppins', sans-serif;
}