@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.job-card-container {
  //border: 1px solid black;
  width: 600px;
  padding: 10px 5px;
  margin-left:45%;
  margin-top:-25%;
  background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    padding: 100px 80px 100px 10px;
  
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.job-card-row-1 {
  display: flex;
  //border: 1px solid black;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  flex-wrap: wrap;
  align-content: center;
    margin-left:2em;
}

.job-card-row-2 {
  display: flex;
  margin-top: 20px;
  height: 50px;
  align-items: start;
  width: 100%;
  gap: 25%;
  margin-left:2em;
}

.job-card-job-type-container {
  //border: 1px solid black;
  display: flex;
}

.job-card-job-type{
  padding: 5px 20px;
  border-radius: 125px;
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: nowrap; /* Chrome */
  word-wrap: break-word; /* IE */
  margin-bottom: 0;
  margin-right: 15px;
}

.job-card-job-type:nth-child(odd){
  background: none;
  border: 1px solid lightgray;
  color: gray;
  margin-left:2em;
}

.job-card-job-type:nth-child(even){
  background: #EFB2AF;
  color: #FFFFFF;
  margin-left:2em;
}

.job-card-u-jt {
  font-size: 16px;
  color: #1A2E35;
  margin-bottom: 0;
}

.fas {
  -webkit-user-drag: none;
}

.fa-star {
  color: #EFB2AF;
  margin-left: 10px;
  display: inline;
}

.fa-map-marker-alt {
  color: lightgray;
  font-size: 30px;
}

.job-card-detail-btn {
  background: none;
  border: 1px solid gray;
  border-radius: 120px;
  padding: 5px 36px;
  white-space: nowrap;

}


.job-card-detail-btn:hover{
  background: #EFB2AF;
  color: #FFFFFF;
  border: none;

}

.job-card-company-title, .job-card-job-location, .job-card-summary{
  color: gray;
  margin-left:2em;
}

.job-card-summary {
  margin-top: 15px;
  margin-left:4em;
}
.mr-5, .mx-5 {
    /* margin-right: 3rem !important; */
    margin-left: 2em;
}