@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$bgDefault: #ffffff;
$bgHighlight: #162b33;
$colDefault: #4d4940;
$colHighlight: #ffffff;

.navbar {
  height: 11.5rem;
}
.nav-link {
  margin-left: 2em;
  justify-content: flex-end;
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    color: $bgHighlight;
    background-color: $bgHighlight;
  }
}

.navbar-brand {
  color: #4d4940 !important;
  font-size: 4rem !important;
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-link {
  color: #4d4940 !important;
  font-family: "Poppins", sans-serif;
}
@import "~bootstrap/scss/bootstrap/";
@import "../../App.scss";

.slogan {
  padding-left: -60%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Poppins", sans-serif;
}
