.contain-filter{

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;

    min-height: 500px;
    width: 20vw;
    margin-left: 6%;
    margin-top: 10%;
    background: white;
    border-radius: 20px;
  }
  job-title {
      font-size:38px;
  }