@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .react-onboarding-pro-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .react-onboarding-pro-blur-background {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: 200ms ease-in-out all;
  }
  .rop-step {
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 20px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    padding: 20px 20px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: white;
  }
  .rop-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5rem;
  }
  .rop-description {
    text-align: center;
  }
  .rop-button-container {
    text-align: right;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
  }
  .rop-button {
    padding: 8px 24px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #4D4940;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
  }
  .rop-button:hover, .rop-button:focus {
    background-color: black;
    outline: none;
  }
  .rop-button[disabled] {
    background-color: #969696;
  }
  .rop-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rop-input-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .rop-input-label {
    margin: 0 0 2px 2px;
    font-size: 14px;
    color: #4D4940;
  }
  .rop-form .rop-input {
    line-height: 1.5rem;
    font-size: 16px;
    padding: 2px 5px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #EEE;
  }
  .rop-form .rop-input:focus {
    border-color: #DDD;
    outline: none;
  }
  
  @media only screen and (max-width: 600px) {
    .react-onboarding-pro-container {
      align-items: flex-end;
    }
  }